body{
  background-image:url(imagenes/fondo.jpg);
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:20%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }  

*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:20%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }

@media (min-width: 708px) {
.carousel-multi-item-2 .col-md-3 {
  margin-top:5%;
  background-color:#6214a8;
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card iframe {
border-radius: 2px; }
.card{
    background-color:#6214a8;
}
.card p{
    color:#000;
    font-size:20px;
}



.footer-conteiner{
    background: #6214a8;
    margin-top: 10%;
    width:  100%;
    height: 50% ; 
     
}
.footer-conteiner button{
font-size:5vw;
width:20%;
background-color:#6214a8;
color:#fff;
}